<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/admin_user.css">

    <title>Login Page</title>
</head>

<body>

    {{>admin_user/navbar details=details}}


    <div class="container admin">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center"><img src="/static/img/details.png" alt=""
                                style="width: 150px;" class="img-fluid rounded-circle">
                                <h3 class="text-secondary">Details Master</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center"><img src="/static/img/sliders.png" alt=""
                                style="width: 150px;" class="img-fluid rounded-circle">
                                <h3 class="text-secondary">Sliders Master</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center"><img src="/static/img/services.png" alt=""
                                style="width: 150px;" class=" img-fluid rounded-circle">
                                <h3 class="text-secondary">Services Master</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>